<nb-card>
  <nb-card-body>
    <!--<div *ngFor="let f of featured">
        <p>{{f.category}}</p>
        <img [src]="f.img" alt="Test">

    </div>-->
    <div class="container">
      <div class="row">
        <div class="category-card col-lg-4 col-md-4 col-sm-12 col-12">
          <img class="category-image" src="assets/image/homepage/Animal.jpg">
          <h3 class="category-title">Động vật</h3>
        </div>
        <div class="category-card col-lg-4 col-md-4 col-sm-12 col-12">
          <img class="category-image" src="assets/image/homepage/Nesoberi.jpeg">
          <h3 class="category-title">Nesoberi</h3>
        </div>
        <div class="category-card col-lg-4 col-md-4 col-sm-12 col-12">
          <img class="category-image" src="assets/image/homepage/Cartoon.jpg">
          <h3 class="category-title">Hoạt hình</h3>
        </div>
        <div class="category-card col-lg-4 col-md-4 col-sm-12 col-12">
          <img class="category-image" src="assets/image/homepage/Food.jpeg">
          <h3 class="category-title">Đồ ăn</h3>
        </div>
        <div class="category-card col-lg-4 col-md-4 col-sm-12 col-12">
          <img class="category-image" src="assets/image/homepage/Keychain.jpg">
          <h3 class="category-title">Móc chìa khóa</h3>
        </div>
        <div class="category-card col-lg-4 col-md-4 col-sm-12 col-12">
          <img class="category-image" src="assets/image/homepage/hugging.jpeg">
          <h3 class="category-title">Gối bông</h3>
        </div>
      </div>

    </div>

  </nb-card-body>
</nb-card>
