<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/client-home']"><img src="../../../../assets/image/Logo/Logo.png"
                                                          alt="Logo" width="200" height="40"
                                                          class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/client-home']">Trang Chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Giới thiệu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/product-page']">Sản phẩm</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']">Liên hệ</a>
        </li>
        <!--        <li class="nav-item dropdown">-->
        <!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--            Dropdown-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu">-->
        <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--            <li><hr class="dropdown-divider"></li>-->
        <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
        <!--        <li class="nav-item dropdown">-->
        <!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--            Dropdown link-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu">-->
        <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mr-2" type="submit">Search</button>
        </form>
      </ul>

      <form class="d-flex" role="search">
        <!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--        <button class="btn btn-outline-success mr-2" type="submit">Search</button>-->

        <button class="btn btn-outline-success mr-1" type="button" [routerLink]="['/login']">LOG IN</button>
        <button class="btn btn-outline-secondary" type="button" [routerLink]="['/register']">REGISTER</button>

      </form>
    </div>
  </div>
</nav>
