<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="intro-content col-lg-12 col-md-12 col-sm-12 col-12">
          <h3>Giới thiệu về cửa hàng</h3>
          <p>Friends-Plushies | Shop bán thú nhồi bông</p>
          <p>Bạn có biết thú nhồi là tuổi thơ, là nơi chút bầu tâm sự của biết bao bạn trẻ trên thế giới. Ngày nay thú nhồi bông không chỉ đơn thuần là vật kỷ nằm gọn trong tủ kính. Mà chúng còn là người bạn cho ta những vòng tay ôm ấm áp mỗi khi cô đơn. Mỗi khi bạn cảm thấy buồn tẻ trong cuộc sống thường ngày. Hãy lựa chọn cho mình một chú thú nhồi bông như gấu Teddy. Có thể làm cho bạn luôn vui vẻ, yêu đời bằng sự đáng yêu vốn có của nó.</p>
        </div>
        <div class="intro-banner col-lg-12 col-md-12 col-sm-12 col-12">
          <img class="intro-picture" src="assets/image/banner/intro-banner.jpg">
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
