<nb-card>
  <nb-card-body>
      <div class="container">
          <div class="row">
            <div class="contact-details col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="bank">
                  <h3>Chuyển khoản Online</h3>
                  <ul>
                    <li>Ngân hàng: Vietcombank</li>
                    <li>Số Tài Khoản: 0987653123212</li>
                    <li>Chủ tài khoản: QuanQuanQuan</li>
                  </ul>
                  <h3>Liên hệ</h3>
                  <ul>
                    <li>Địa chỉ cửa hàng: 96 Định Công</li>
                    <li>Hotline: 0123456789</li>
                    <li>Mở cửa: 9h sáng - 10h tối</li>
                    <li>Facebook: Friends-Plushies</li>
                    <li>Website: Friends-Plushies</li>
                  </ul>
                </div>
            </div>
            <div class="contact-banner col-lg-8 col-md-8 col-sm-12 col-12">
              <img class="contact-image" src="assets/image/banner/contact-banner.jpg" alt="Bear">
            </div>
          </div>
      </div>
  </nb-card-body>
</nb-card>
