<footer class="light-footer text-bg-light">
  <div class="container">
    <div class="row">
      <div class="footer_widget col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="footer_info">
          <h4>Thông tin</h4>
        </div>
        <div class="footer_formation">
          <p>4967 Sardis Sta, Victoria 8007, Montreal.</p>

          <p>+1 246-345-0695</p>

          <p>info@learnup.com</p>
        </div>
      </div>
      <div class="footer_widget col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="footer_info">
          <div class="footer_title">
            <h4>Menu</h4>
          </div>
          <ul class="footer_content">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Sản phẩm</a></li>
            <li><a href="#">Liên hệ</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_widget col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="footer_info">
          <div class="footer_title">
            <h4>Danh mục</h4>
          </div>
          <ul class="footer_content">
            <li><a href="#">Động vật</a></li>
            <li><a href="#">Nesoberi</a></li>
            <li><a href="#">Nhân vật hoạt hình</a></li>
            <li><a href="#">Đồ ăn</a></li>
            <li><a href="#">Móc chìa khóa</a></li>
            <li><a href="#">Nhân vật trò chơi</a></li>
          </ul>
        </div>
      </div>
      <div class="footer_widget col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="footer_info">
          <h4>Trợ giúp</h4>
        </div>
        <ul class="footer_content">
          <li><a href="#">Mail us</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Faqs</a></li>
        </ul>
      </div>

    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="align-item-center">
        <div class="web_author">
          <p>© 2024 Cửa hàng thú nhồi bông. Tạo bởi <a href="#"> Friend Plushies</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
