<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="product-banner">
        <img class="product-image" src="assets/image/banner/product-banner.jpg">
      </div>
      <div class="centered"><h1 style="color:white;">Sản phẩm</h1></div>
    </div>
  </nb-card-body>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="sidebar col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="Filter-title"><h4>Bộ lọc</h4></div>
          <div class="col-12 mb-3">
            <nb-select fullWidth size="tiny" placeholder="Bộ lọc">
              <nb-option>Từ A-Z</nb-option>
              <nb-option>Từ Z-A</nb-option>
              <nb-option>Giá tăng dần</nb-option>
              <nb-option>Giá giảm dần</nb-option>
            </nb-select>
          </div>
          <div class="Filter-category"><h4>Danh mục</h4></div>
          <div class="col-12">
            <nb-checkbox class="mr-1 mb-2">Động vật</nb-checkbox>
          </div>
          <div class="col-12">
            <nb-checkbox class="mr-1 mb-2">Nesoberi</nb-checkbox>
          </div>
          <div class="col-12">
            <nb-checkbox class="mr-1 mb-2">Hoạt hình</nb-checkbox>
          </div>
          <div class="col-12">
            <nb-checkbox class="mr-1 mb-2">Đồ ăn</nb-checkbox>
          </div>
          <div class="col-12">
            <nb-checkbox class="mr-1 mb-2">Gối bông</nb-checkbox>
          </div>
        </div>
        <div class="product-content col-9 col-md-9 col-sm-12 col-12">
          <div class="row">
            <div *ngFor="let f of product" class="product-card col-lg-4 col-md-4 col-sm-12 col-12 mb-2">
              <img class="product-card-image" [src]="f.img" [alt]="f.title">
              <h5 class="product-card-title d-flex justify-content-center">{{f.title}}</h5>
              <h6 class="product-card-price d-flex justify-content-center">{{f.price}}</h6>
              <div class="size-btn-area d-flex justify-content-center">
                <button class="size-btn" nbButton outline size="small" shape="semi-round" status="warning">20cm</button>
                <button class="size-btn" nbButton outline size="small" shape="semi-round" status="warning">30cm</button>
                <button class="size-btn" nbButton outline size="small" shape="semi-round" status="warning">40cm</button>
              </div>

              <div class="add-to-cart-btn-area d-flex justify-content-center">
                <button class="add-to-cart-btn" nbButton hero status="warning">Thêm vào giỏ hàng</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
