<nb-card>
  <nb-card-body>
    <div class="container">
      <div class="product-banner">
        <img class="product-image" src="assets/image/banner/product-banner.jpg">
      </div>
      <div class="centered"><h1 style="color:white;">Sản phẩm</h1></div>
    </div>
  </nb-card-body>
  <nb-card-body>
    <div class="container">
      <div class="row">
        <div class="sidebar col-lg-3 col-md-3 col-sm-12 col-12">
          <div class="Filter-title"><h3>Bộ lọc</h3></div>
          <div class="Filter-category"><h4>Danh mục</h4></div>

          <nb-checkbox class="checkbox mr-1 mb-2">Động vật</nb-checkbox>
          <nb-checkbox class="mr-1 mb-2">Nesoberi</nb-checkbox>
          <nb-checkbox class="mr-1 mb-2">Hoạt hình</nb-checkbox>
          <nb-checkbox class="mr-1 mb-2">Đồ ăn</nb-checkbox>
          <nb-checkbox class="mr-1 mb-2">Gối bông</nb-checkbox>

        </div>
        <div class="product-content col-9 col-md-9 col-sm-12 col-12">
            Hello World
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
