<!--<div class="box hover:scale-105 transition-all duration-500 cursor-pointer flex flex-col items-center rounded-lg overflow-hidden w-[15rem] mx-3">-->

<!--  <div class="h-[13rem] w-[10rem]">-->
<!--    <img style="width: 300px; height:300px;" [src]="product.img" alt="">-->
<!--  </div>-->

<!--  <div class="p-4">-->
<!--    <h3>{{product.title}}</h3>-->
<!--  </div>-->
<!--</div>-->


<div class="feature-product">
  <div class="product-image">
    <img style="width:100%" [src]="product.img" alt="">
  </div>

  <div style="text-align: center" class="product-content">
    <h3>{{product.title}}</h3>
    <h3>{{product.description}}</h3>
  </div>
</div>

