<div class="container-fluid">
  <div class="container">
    <div class="banner-product">
      <img src="../../../assets/image/banner/product-banner.jpg">
    </div>
    <div class="banner-word">
      <h1>Sản phẩm</h1></div>

    <div>
      <button mat-button [matMenuTriggerFor]="sortMenu">
        Sắp xếp
      </button>
      <mat-menu #sortMenu="matMenu">
        <button mat-menu-item>Giá:Cao đến thấp</button>
        <button mat-menu-item>Giá:Thấp đến cao</button>
      </mat-menu>

      <mat-divider></mat-divider>
      <div class="content">
        <div class="row">
          <div class="col-3">
            <h3>Bộ lọc</h3>
            <form>
              <div *ngFor="let item of filterData">
                <div class="filter-label">
                  <h2>{{item.name}}</h2>
                  <div style="padding-top: 6px" id="filter-section-0">
                    <div class="scroll-py-4">
                      <div *ngFor="let option of item.options">
                        <div>
                          <mat-checkbox id="'filter - '+ option.value"
                                        [name]="item.id"
                                        [value]="option.value"
                          >
                            <span>{{option.label}}</span>
                          </mat-checkbox>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-9">
            <div class="product-list">
              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-12" *ngFor="let item of featured">
                  <app-product-card [product]="item"></app-product-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
