<div class="container-fluid">
  <div class="container">
    <div class="information">
      <h1>Liên hệ</h1>
      <ul class="contact-list">
        <li>
            <p>Địa chỉ: 96 Định Công</p>
        </li>
        <li><p>Hotline: 0123456789</p></li>
        <li><p>Mở cửa: 9h sáng - 10h tối</p></li>
        <li><p>Facebook: Friend-Plushies</p></li>
      </ul>
    <div class="bank">
      <h1>Thông tin chuyển khoản:</h1>
      <ul>
        <li><h3>Vietcombank</h3></li>
        <li><h3>MBBank</h3></li>
        <li><h3>Argibank</h3></li>
      </ul>
    </div>
    </div>

    <div class="image-banner">
      <img width="600px" height="400px" src="assets/image/banner/contact-banner.jpg">
    </div>
  </div>
</div>
