<div class="container-fluid">

  <app-carousel></app-carousel>
  <div class="container">
    <div class="categories mt-5 mb-5">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="category">
            <div class="category_icon">
              <img class="category_image" src="../../../assets/image/homepage/Animal.jpg">
            </div>
            <div class="category_details">
              <h2>Động vật</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="category">
            <div class="category_icon">
              <img class="category_image" src="../../../assets/image/homepage/Nesoberi.jpeg">
            </div>
            <div class="category_details">
              <h2>Nesoberi</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="category">
            <div class="category_icon">
              <img class="category_image" src="../../../assets/image/homepage/Cartoon.jpg">
            </div>
            <div class="category_details">
              <h2>Nhân vật hoạt hình</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="categories mt-5 mb-5">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="category">
            <div class="category_icon">
              <img class="category_image" src="../../../assets/image/homepage/Food.jpeg">
            </div>
            <div class="category_details">
              <h2>Đồ ăn</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="category">
            <div class="category_icon">
              <img class="category_image" src="../../../assets/image/homepage/Keychain.jpg">
            </div>
            <div class="category_details">
              <h2>Móc chìa khóa</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="category">
            <div class="category_icon">
              <img class="category_image" src="../../../assets/image/homepage/Game.jpg">
            </div>
            <div class="category_details">
              <h2>Nhân vật trò chơi</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <app-home-slider title="Sản phẩm nổi bật" [products]="featured"></app-home-slider>
    <app-home-slider title="Sản phẩm bán chạy" [products]="featured"></app-home-slider>

  </div>

</div>
